---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
import Hero from "../components/Hero.astro";
import PremiumScrollExperience from "../components/PremiumScrollExperience.astro";
import Story from "../components/Story.astro";
import ProductHighlights from "../components/ProductHighlights.astro";
import Ingredients from "../components/Ingredients.astro";
import Customization from "../components/Customization.astro";
import ProductShowcase from "../components/ProductShowcase.astro";
import Experience from "../components/Experience.astro";
import SocialProof from "../components/SocialProof.astro";
import Urgency from "../components/Urgency.astro";
import OrderSection from "../components/OrderSection.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Navigation />
  <main>
    <Hero />
    <PremiumScrollExperience />
    <Story />
    <ProductHighlights />
    <Ingredients />
    <Customization />
    <ProductShowcase />
    <Experience />
    <SocialProof />
    <Urgency />
    <OrderSection />
  </main>
  <Footer />
</Layout>
